# SQLITE

In [1]:
import sqlite3

In [8]:
nome1 = 'escola.db'

In [9]:
script_alunos = """CREATE TABLE IF NOT EXISTS Alunos (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
            );"""
            

try:
    with sqlite3.connect(nome1) as conn:
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(script_alunos)

        # Salva as alterações no banco de dados
        conn.commit()

        print("Tabelas Criadas com Sucesso")
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

Tabelas Criadas com Sucesso

# INSERIR

In [24]:
sql = "INSERT INTO Alunos (nome, idade, email) VALUES (?,?,?)"

try:
    with sqlite3.connect(nome1) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, ('jubileu', 87, 'jubileu@email.com'))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# CONSULTA

In [28]:
sql = "SELECT * FROM Alunos"


try:
    with sqlite3.connect(nome1) as conn:
        conn.row_factory = sqlite3.Row 
        cur = conn.cursor()
        

        # Executa o script
        cur.execute(sql)
        res = cur.fetchall() 

        
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

In [29]:
for i in res:
    print(i['nome'],i['idade'],i['email'])

pedro 16 pedro@email.com
paula 15 paula@email.com
beatriz 17 beatriz@email.com
julio 17 julio@email.com

# ATUALIZAR

In [21]:
sql = "UPDATE Alunos SET idade = ? WHERE id = ?"

try:
    with sqlite3.connect(nome1) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (16, 1))

        # Salva as alterações no banco de dados
        conn.commit()


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# DELETAR

In [27]:
sql = "DELETE FROM Alunos WHERE id = ?"

try:
    with sqlite3.connect(nome1) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (5,))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)